.cloudImg{
    width: 2000px;
    height: 300px;
    object-fit: cover;
}

.title{
    font-family: Garamond, serif;
}

.p{
    font-family: Verdana, sans-serif;
}

.vinkit{
    color: blue;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    column-gap: 20px;
}


.ergonomyImg {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.nappi{
    text-align: center;
    margin: 30px;
}